html,
body,
p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic', sans-serif;
}

body {
  padding: 100px;
  background-color: #bebebe;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}