h1.title {
  margin-bottom: 30px;
}

ul.demo-list {
  display: grid;
  gap: 18px;
}

ul.demo-list li a {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  color: #2f2f2f;
  border-bottom: 0 solid #3c3c3d;
  transition: 0.4s ease-in-out;
}

ul.demo-list li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #3c3c3d;
  transition: 0.2s ease-in-out;
}

ul.demo-list li a:hover::after {
  width: 100%;
}